@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 60px;
}

.myNav {
  background-color: rgb(255, 255, 255) !important;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.hero {
  width: 100%;
  height: 300px;
  background-color: rgb(0, 0, 0);
}

.card {
  outline: none;
  box-shadow: 5px 5px 5px rgb(197, 197, 197);
  min-height: 450px;
}
.card-body{
 min-height: 300px; 
}

.card:hover .hover-underline {
  background-image: linear-gradient(to right, #838df6, #838df6);
  background-repeat: no-repeat;
  background-position: 0 85%;
  background-size: 10rem 0.55rem;
  animation-name: initiate_underline;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.post-card {
  position: relative;
  top: 0;
  left: 0;
}
.no-decor {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
}
.category {
  position: absolute;
  bottom: 15px;
  left: 24px;
}

.footer {
  height: -1px !important;
  line-height: 60px;
  border-top: 1px solid rgb(218, 218, 218);
  background-color: rgb(255, 255, 255);
}

.underline {
  background-image: linear-gradient(to right, #1e2dcd, #1e2dcd);
  background-repeat: no-repeat;
  background-position: 0 85%;
  background-size: 10rem 0.55rem;
  animation-name: initiate_underline;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes initiate_underline {
  0% {
    background-size: 0% 0.55rem;
  }
  100% {
    background-size: 100% 0.55rem;
  }
}
